{{ .Content }}
<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <div class="left">
        <img src="{{ .Params.coverURL }}" />
      </div>
      <div class="right">
        <a href="{{ .URL }}">{{ .Title }}</a>
        {{ .Params.description }}

        {{ if (eq .Section "sale")  }}
          <div class="precios">
          {{ if eq .Params.status "sold" }}
            <span class="usa">Vendido</span>
          {{ else }}
            <span class="aca">USD {{ .Params.precio }}.00</span>
          {{ end }}
          </div>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
