{{ .Content }}
<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <div class="left">
        <img src="{{ .Params.coverURL }}" />
      </div>
      <div class="right">
        <a href="{{ .URL }}">{{ .Title }}</a>
        {{ .Params.description }}
        <div class="precios">
          <span class="usa">USA: USD {{ .Params.precioUSA }}.-</span>
          <span class="meli">MeLi: USD {{ .Params.precioMELI }}.-</span>
          <span class="aca">USD {{ .Params.precio }}.-</span>
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
