{{ .Content }}
<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <div class="left">
        <img src="{{ .Params.coverURL }}" />
      </div>
      <div class="right">
        <a href="{{ .URL }}">{{ .Title }}</a>
        {{ .Params.description }}
        <span>USD {{ .Params.precio }} (Original USD {{ .Params.precioOriginal }})</span>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
