body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a:before, a:after {
    content: none;
}

p a{
    text-decoration: none;
    color: black;
}

.content {
    .container.list {
        ul {
            li {
                display: flex;
                margin-top: 20px;
                align-items: top;
                .left {
                    padding-right: 20px;
                    img {
                        border: solid 1px black;
                        max-width: 80px;
                    }
                }
                .right {
                    width: 80%;
                    a {
                        display: block;
                        text-decoration: none;
                    }

                    span {
                        margin: 0;
                        width: 100%;
                        text-align: left;
                        font-size: 80%;
                        font-weight: bold;
                    }
                    .precios {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        span {
                            flex-shrink: 1;
                            text-align: center;
                            padding: 0px 10px;
                            width: auto;
                            margin-right: 10px;
                        } 
                    }
                
                }
            }
        }
    }

    .precios {
        span {
            font-size: 12px;
            
            padding: 3px 5px;
            border-radius: 5px;

            &.aca {
                background-color: rgba(24, 224, 34, 0.8);
            }
            &.usa{
                background-color: rgba(189, 198, 223, 0.2);
            }
            &.meli{
                background-color: rgba(255, 251, 0, 0.2);
            }
        }
    }
}